<div class="mt-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Stt</th>
                <th scope="col">Title</th>
                <th scope="col">Slug</th>
                <th scope="col">Time create</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each blog}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.title}}</td>
                <td>{{this.slug}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/blog/{{this._id}}/edit" class="btn btn-link">Update</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-blog-modal">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div class="modal fade" id="delete-blog-modal" tabindex="-1" role="dialog" aria-labelledby="deleteBlog"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa blog?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn chắc chắn muốn xóa blog này?
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-delete-blog-modal" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancle</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete-form-hidden --}}
<form name="delete-blog-form" method="POST"></form>

<script>
    // Khi DOM load xong content thì có jquery, nên sẽ không lỗi $
    document.addEventListener('DOMContentLoaded', function() {
        var blogId;
        var btnDeleteBlog = document.getElementById('btn-delete-blog-modal');
        var deleteForm = document.forms['delete-blog-form'];

        // Show form thông báo, lấy được giá trị id blog, sau đó gán giá trị id đó vào trong blogId 
        $('#delete-blog-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            blogId= button.data('id');
        });
        
        //Delete.....
        btnDeleteBlog.onclick = function() {
            deleteForm.action = '/blog/' + blogId + '?_method=DELETE';
            //Submit để gửi action qua route và chọc vào controller để xóa blog tại id đó trong DB 
            deleteForm.submit();
        }
    })
</script>