<div class="mt-5">
    <div class="row">
        {{#each blogs}}
        <div class="col-sm-6 col-lg-3">
            <div class="card card-course-item">
                <a href="/blog/{{this.slug}}">
                    <img class="card-img-top" src="{{this.image}}" alt="{{this.title}}">
                </a>
                <div class="card-body">
                    <a href="/blog/{{this.slug}}">
                        <h5 class="card-title">{{this.title}}</h5>
                    </a>
                    <p class="card-text">{{this.body}}</p>
                    <a href="/blog/{{this.slug}}" class="btn btn-primary">Read Blog</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>